In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
A=pd.read_csv("Dataset\Mal\Mal_sentiment_full_dev.tsv",sep="\t")

In [5]:
B=pd.read_csv("Dataset\Mal\Mal_sentiment_full_train.tsv",sep="\t")

In [8]:
A.shape

(1766, 2)

In [9]:
B.shape

(15888, 2)

In [10]:
A

                                                   text       category
0                   Mammooka ninghal mass aa pwoli item       Positive
1         Waiting for Malayalam movie  For Tamil paiyan  not-malayalam
2        ദളപതി ഫാൻസിന്റെ വക ഒരു ഒന്നൊന്നര വിജയാശംസകൾ...       Positive
3     #Trailer pwolichuuuu ഓണത്തിന് വന്നങ്ങു തകർത്തേ...       Positive
4      Mammoookkaaaa polichadukkiii katta waiting nv 21       Positive
...                                                 ...            ...
1761            Aa ചിരി uff എന്റെ പൊന്നോ ഇക്ക vere ലെവൽ       Positive
1762   Katta katta katta katta waiting....cant wait man       Positive
1763  Arjun reddy bgm poole thonniyathu enniku mathr...  unknown_state
1764             Fahad ikka ithilum polikum en urappayi       Positive
1765  Njan veendum kanan vannu 100 pravashyam enkilu...       Positive

[1766 rows x 2 columns]

In [11]:
B

                                                    text        category
0      Sunny chechi fans evide like adichu power kani...   unknown_state
1      Angane july month ile ende aadyathe leave njan...        Positive
2      ഏട്ടന്റെ പുതിയ പടത്തിനു വേണ്ടി കാത്തിരിക്കുന്ന...   unknown_state
3      ഇനി ലാലേട്ടന്റെ വേട്ട തുടങ്ങാൻ പോകുന്നു..........        Positive
4      Trailer powli oru raksha illa . Pakshea padam ...        Positive
...                                                  ...             ...
15883      Minimum 10 thavana kandavar maathram like adi   unknown_state
15884  Please cinema kaannaaan kothi aakunnu onnu rel...        Positive
15885                   USA ok.. India No... Sadhacharam   unknown_state
15886  nama hero december 12 wait & see  mamamaga mah...        Positive
15887  Madhuraraja 1 hour 40 k likes  Lucifer 1 min 4...  Mixed_feelings

[15888 rows x 2 columns]

In [12]:
C=pd.concat([A,B],ignore_index=True)

In [13]:
C

                                                    text        category
0                    Mammooka ninghal mass aa pwoli item        Positive
1          Waiting for Malayalam movie  For Tamil paiyan   not-malayalam
2         ദളപതി ഫാൻസിന്റെ വക ഒരു ഒന്നൊന്നര വിജയാശംസകൾ...        Positive
3      #Trailer pwolichuuuu ഓണത്തിന് വന്നങ്ങു തകർത്തേ...        Positive
4       Mammoookkaaaa polichadukkiii katta waiting nv 21        Positive
...                                                  ...             ...
17649      Minimum 10 thavana kandavar maathram like adi   unknown_state
17650  Please cinema kaannaaan kothi aakunnu onnu rel...        Positive
17651                   USA ok.. India No... Sadhacharam   unknown_state
17652  nama hero december 12 wait & see  mamamaga mah...        Positive
17653  Madhuraraja 1 hour 40 k likes  Lucifer 1 min 4...  Mixed_feelings

[17654 rows x 2 columns]

In [14]:
C.shape

(17654, 2)

In [15]:
C.columns

Index(['text', 'category'], dtype='object')

In [17]:
C.describe()

                                                     text  category
count                                               17654     17654
unique                                              16847         5
top     ഒരു കട്ട മമ്മൂക്ക ഫാൻ ആയ ഞാൻ മുക്കുത്തി എന്ന ഗ...  Positive
freq                                                    8      7127

In [20]:
pd.isnull(C)

        text  category
0      False     False
1      False     False
2      False     False
3      False     False
4      False     False
...      ...       ...
17649  False     False
17650  False     False
17651  False     False
17652  False     False
17653  False     False

[17654 rows x 2 columns]

In [21]:
pip install stopwordsiso

Collecting stopwordsiso
  Downloading stopwordsiso-0.6.1-py3-none-any.whl.metadata (2.5 kB)
Downloading stopwordsiso-0.6.1-py3-none-any.whl (73 kB)
Installing collected packages: stopwordsiso
Successfully installed stopwordsiso-0.6.1
Note: you may need to restart the kernel to use updated packages.

In [22]:
import stopwordsiso as sw

malayalam_sw = sw.stopwords("ml")
tamil_sw = sw.stopwords("ta")

print("Malayalam stopwords:", list(malayalam_sw)[:10])
print("Tamil stopwords:", list(tamil_sw)[:10])

Malayalam stopwords: []
Tamil stopwords: []

In [25]:
import json

# Load correctly downloaded JSON
with open('stopwords-iso.json', 'r', encoding='utf-8') as f:
    all_stopwords = json.load(f)

# Check available language codes
print("Available language codes:", list(all_stopwords.keys())[:10])  # sanity check

# Extract Tamil and Malayalam stopwords
tamil_stopwords = all_stopwords.get("ta", [])
malayalam_stopwords = all_stopwords.get("ml", [])

print("Tamil stopwords found:", len(tamil_stopwords))
print("Malayalam stopwords found:", len(malayalam_stopwords))

# Save to .txt files
with open("tamil_stopwords.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(tamil_stopwords))

with open("malayalam_stopwords.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(malayalam_stopwords))

Available language codes: ['af', 'ar', 'hy', 'eu', 'bn', 'br', 'bg', 'ca', 'zh', 'hr']
Tamil stopwords found: 0
Malayalam stopwords found: 0